build/*
dist/*
few.egg-info/*
few/__pycache__/*
few/_version.py
few/amplitude/__pycache__/*
few/files/*
few/summation/__pycache__/*
few/tests/__pycache__/
few/trajectory/__pycache__/*
few/utils/__pycache__/*
few/utils/odeoptions.py
include/ode.hh
src/ParMap.cpp
src/gpuAAKWrap_cpu.cpp
src/inspiralwrap.cpp
src/ode.cc
src/pySWSH.cpp
src/pyinterp2damp.cpp
src/pyinterp_cpu.cpp
src/pymatmul_cpu.cpp
src/utility_functions.cpp
src/gpuAAK.cpp
src/gpuAAKWrap_cpu.pyx
src/interpolate.cpp
src/matmul.cpp
src/pyinterp_cpu.pyx
src/pymatmul_cpu.pyx
*.DS_Store
*.ipynb_checkpoints
