build/*
dist/*
few.egg-info/*
few/__pycache__/*
src/few/_version.py
few/amplitude/__pycache__/*
few/files/*
few/summation/__pycache__/*
few/tests/__pycache__/
tests/__pycache__/
few/cutils/__pycache__/*
few/trajectory/__pycache__/*
few/trajectory/ode/__pycache__/*
few/utils/__pycache__/*
few/utils/odeoptions.py
few/waveform/__pycache__/*
include/ode.hh
src/AmpInterp2d.cpp
src/ParMap.cpp
src/gpuAAKWrap_cpu.cpp
src/inspiralwrap.cpp
src/ode.cc
src/pySWSH.cpp
src/pyinterp2damp.cpp
src/pyinterp_cpu.cpp
src/pymatmul_cpu.cpp
src/utility_functions.cpp
src/gpuAAK.cpp
src/gpuAAKWrap_cpu.pyx
src/interpolate.cpp
src/matmul.cpp
src/pyinterp_cpu.pyx
src/pymatmul_cpu.pyx
src/pymatmul.cpp
src/pyinterp.cpp
src/gpuAAKWrap.cpp
src/pyampinterp2D_cpu.cpp
src/pyampinterp2D_cpu.pyx
src/pyampinterp2D.cpp
*.DS_Store
*.ipynb_checkpoints
